<section id="contact">
  <div id="contactinfo">
    <h3>Contact Us</h3>
    <ul>
      <li><%= @contact.name %></li>
      <li><%= @contact.telephone %></li>
      <li><%= @contact.email %></li>
      <li><%= @contact.street_address %></li>
      <li><%= @contact.city %>, <%= @contact.province%></li>
      <li><%= @contact.postal_code %></li>
    </ul>
  </div>
  <div id="hoursinfo">  
  <h3>Store Hours</h3>
  <table>
    <thead>
      <tr>
        <td>Weekday</td>
        <td>Hours</td>
      </tr>
    </thead>
    <tr>
      <td>Sunday:</td>
      <td>11:00AM  -  6:00PM</td>
    </tr>
    <tr>
      <td>Monday:</td>
      <td>9:00AM  --  9:00PM</td>
    </tr>
    <tr>
      <td>Tuesday:</td>
      <td>9:00AM  --  9:00PM</td>
    </tr>
    <tr>
      <td>Wednesday:</td>
      <td>9:00AM  --  9:00PM</td>
    </tr>
    <tr>
      <td>Thursday:</td>
      <td>9:00AM  --  9:00PM</td>
    </tr>
    <tr>
      <td>Friday:</td>
      <td>9:00AM  --  9:00PM</td>
    </tr>
    <tr>
      <td>Saturday:</td>
      <td>10:00AM - 6:00PM</td>
    </tr>
  </table>
  </div>
</section>